<?xml version='1.0' encoding='utf-8'?>
<widget id="org.larsonassoc.SFarts-Express" version="1.25" xmlns="http://www.w3.org/ns/widgets" android-versionCode="30" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SFArts-Express</name>
    <description>
        Mobile version of SF/Arts.org
    </description>
    <author email="lrlarson@larsonassoc.org" href="http://www.larsonassoc.org">
       Larson Associates
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#cccccc" />
    <preference name="Fullscreen" value="false" />
    <preference name="Orientation" value="default" />
    <platform name="ios">
        <preference name="Orientation" value="all" />
    </platform>
    <!-- for android-->
    <preference name="BackgroundColor" value="0xff0000ff"/>
    <!-- for iOS-->
    <preference name="BackupWebStorage" value="local"/>
    <feature name="Geolocation">
        <param name="ios-package" value="CDVLocation" />
        <param name="android-package" value="org.apache.cordova.GeoBroker" />
    </feature>
    <preference name="SplashScreen" value="screen" />
    <feature name="InAppBrowser">
        <param name="ios-package" value="CDVInAppBrowser" />
    </feature>


</widget>
